body,
p,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
td,
select,
textarea {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

img {
	border: none;
}

/*导航*/
.nav {
	width: 100%;
	height: 40px;
	background: #F5F5F5;
	border-bottom: 1px solid #EEEEEE;
}

.nav_box {
	width: 990px;
	height: 40px;
	margin: 0 auto;
}

.nav_box_left {
	float: left;

}

.nav_box a {
	display: inline-block;
	color: #6C6C6C;
	font-size: 12px;
	margin: 10px 20px;
}

.nav_box_right {
	float: left;
	margin-left: 85px;
}

.nav_box a:hover {
	color: red;
}

/*header*/

.logo {
	width: 100%;
	height: 50px;
}

.logo_box {
	width: 990px;
	height: 50px;
	margin: 20px auto;
}

.logo_box_a {
	display: inline-block;
	float: left;
}

.logo_box_a img {
	vertical-align: middle;
}

.logo_box_a h3 {
	display: inline-block;
	color: #444444;
	font-size: 25px;
	vertical-align: middle;
	font-weight: 500;
}

.sous {
	width: 420px;
	height: 32px;
	border: 2px solid #FF4400;
	float: left;
	margin-left: 325px;
	position: relative;

}

.sous span {
	display: inline-block;
	width: 75px;
	height: 32px;
	text-align: center;
	font-size: 14px;
	line-height: 32px;
	background: #F5F5F5;
	vertical-align: middle;
	border-right: 1px solid #E5E5E5;
}

.sous input {
	width: 269px;
	height: 32px;
	display: inline-block;
	vertical-align: middle;
	margin-left: -5px;
	outline: none;
	border: none;
	text-indent: 14px;
}

.sous b {
	display: inline-block;
	width: 75px;
	height: 32px;
	font-size: 18px;
	color: white;
	text-align: center;
	font-weight: 400;
	line-height: 32px;
	background: #FF4400;
	vertical-align: middle;
	margin-left: 243px;
	position: absolute;
	left: 102px;
	top: 0px;
}

#sou_fdj {
	display: inline-block;
	z-index: 3;
	width: 12px;
	height: 12px;
	background-image: url(../img/jlt.png);
	background-position: -380px -20px;
	margin-left: -260px;
}

.soou_bb {
	width: 75px;
	height: 65px;
	background: white;
}

.soou_bb span {
	display: inline-block;
	width: 75px;
	height: 32px;
	margin-top: -2px;
	background: white;
	border: none;
}

.logo_box_bottom {
	width: 990px;
	height: 50px;
	margin: 0 auto;
	border-bottom: 1px solid #E6E6E6;
	display: flex;
	justify-content: space-between;
}

.logo_box_bottom_left a {
	width: 125px;
	height: 20px;
	display: inline-block;
	font-weight: 550;
	color: #3C3C3C;
	text-align: center;
	margin-top: 13px;
}

.logo_box_bottom_left a span {
	margin-left: 5px;
	color: red;
}

.center_a {
	border-left: 1px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
}

.logo_box_big:hover {
	border-bottom: 2px solid #FF4400;
}

.logo_box_big {
	display: inline-block;
	width: 150px;
	height: 50px;
}

.logo_box_bottom_right {
	width: 260px;
	height: 20px;
	margin-top: 15px;
}

.logo_box_bottom_right i {
	display: inline-block;
	font-style: normal;
	width: 50px;
	height: 22px;
	text-align: center;
	border-radius: 3px;
	background: #AAAAAA;
	color: white;
	cursor: no-drop;
}

.logo_box_bottom_right b {
	margin: 0 10px;
	color: red;
}

.logo_box_bottom_right {
	font-size: 14px;
}

/*shopping*/
.shopping {
	width: 100%;
	height: 100%;
}

.shoppingBox {
	width: 990px;
	height: 100%;
	margin: 80px auto 0;
}

.shopping_qx {
	width: 990px;
	height: 30px;
	font-size: 14px;
}

/*.shopping_qx input{
	display: inline-block;
	width: 15px;
	height:15px;
}*/
.shopping_left {
	float: left;
}

.shopping_left span {
	margin-left: 100px;
}

.shopping_right {
	float: left;
	margin-left: 255px;
}

.shopping_right b {
	font-size: 14px;
	margin: 0 50px;
	font-weight: 400;
}

.shoppingList {
	width: 990px;
	height: 100%;
	margin-top: 20px;
	font-size: 14px;
}

#dianName {
	color: black;
	margin-left: 10px;
}

.dp_img {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/tt.gif);
	background-position: 48px -1px;
	margin-left: 20px;
	margin-bottom: -3px;
}

.listBox {
	width: 1000px;
	height: 100px;
	border: 1px solid #CCCCCC;
	margin-left: -10px;
	background: #FCFCFC;
}

.listBox li {
	display: inline-block;
	vertical-align: top;
	margin-top: 11px;
	margin-left: 10px;
}

.listBox a {
	color: black;
}

#fuxuanA {
	display: inline-block;
}

#aImg a img {
	display: inline-block;
	margin-left: 40px;
}

#aTxt a {
	margin-left: 20px;
	display: inline-block;
	width: 115px;
}

#aTxt a:hover {
	color: red;
	text-decoration: underline;
}

#aCC a {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin-left: 60px;
}

#aCC a span {
	display: block;
	color: #CCCCCC;
	font-size: 1px;
}

#money {
	margin-left: 32px;
}

#number {
	vertical-align: top;
	margin-left: 80px;
}

.numberBox {
	width: 80px;
	height: 25px;
	background: #F0F0F0;
	position: relative;
}

.numberBox span {
	display: inline-block;
	width: 30px;
	height: 22px;
	border: 1px solid black;
	position: absolute;
	left: 23px;
	background: white;
	text-align: center;
}

.shuI input {
	display: inline-block;
	width: 25px;
	height: 21px;
	outline: none;
}

.shuI {
	position: absolute;
	left: 25px;
}

#shuKL {
	margin-left: 2px;
}

.shuK {
	display: inline-block;
	width: 19px;
	height: 25px;
	text-align: center;
	line-height: 20px;
	position: absolute;
	left: 55px;
	border: none;
	background: none;
}

#shuKp {
	position: absolute;
	left: 0;
}

#jinE {
	margin-left: 83px;
}

#jinE h3 {
	color: red;
}

#caoZuo {
	margin-left: 100px;
}

#total {
	width: 1000px;
	height: 50px;
	background: #E5E5E5;
	margin-top: 20px;
	margin-left: -10px;
	font-size: 14px;
}

.total_box li {
	display: inline-block;
	line-height: 50px;
}

.total_box li a {
	color: black;
}

.total_box li a:hover {
	color: red;
	text-decoration: underline;
}

#total_box_two {
	margin-left: 20px;
}

#total_box_three {
	margin-left: 20px;
}

#total_box_four {
	margin-left: 410px;
}

.total_box span {
	color: #f40;
	font-size: 18px;
}

#total_box_five {
	margin-left: 60px;
}

#total_box_six {
	width: 100px;
	height: 50px;
	font-size: 20px;
	background: #B0B0B0;
	color: white;
	text-align: center;
	line-height: 50px;
	margin-left: 21px;
}